
    <!-- Projets Grid Section -->
    <section class="success" id="projets">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Projets</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 projets-item">
                        <a href="#projetsModal-{{ post.modal-id }}" class="projets-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/projets/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>